<!DOCTYPE html>
<html>
<head>
  <title>MusicDock</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to root_url, class: 'navbar-brand' do %>
					<span class="glyphicon glyphicon-flash"></span>
					Music Dock
				<% end %>
			</div>
			<div class="collapse navbar-collapse" id="mainNavigation">
				<ul class="nav navbar-nav">
					<li>
					<% if user_signed_in? %>
						<%= link_to destroy_user_session_path, method: :delete do %>
							<span class="glyphicon glyphicon-user"></span>
							Log out
						<% end %>
					<% else %>
						<%= link_to new_user_session_path do %>
							<span class="glyphicon glyphicon-user"></span>
							Log in
						<% end %>	
					<% end %>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<% flash.each do |type, msg| %>
		<div class="container-fluid">
			<div class="alert alert-<%= get_type(type) %>"><%= msg %></div>
		</div>
	<% end %>
	<%= yield %>

</body>
</html>
